{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "connectionMysql": {
    "IpServer": "192.168.4.10",
    "User": "montesion",
    "Port": "3306",
    "Password": "CndFZz75u8",
    "Database": "grdsion"
  },
  "connectionSqlServer": {
    "IpServer": "192.168.4.65",
    "User": "ProdResidual",
    "Port": "",
    "Password": "0f620*Geb2/320*",
    "Database": "DBBonoResidual"
  },
  "connectionSqlServerDBComisiones": {
    "IpServer": "192.168.4.12",
    "User": "UsrTempDesa",
    "Port": "",
    "Password": "b63A0*fe75",
    "Database": "BDComisiones"
  },
  "KeyTokken": "esto_es_una_key_para_nada_compleja_REQUIERE_MAYUSCULAS_Y_NUMEROS_1_2_3_4_5_??!!",
  "KeyPass": {
    "key": "FBDF08E0405E55C4FCA0729AF055AC75",
    "Method": "AES-256-CBC"
  },
  "AdministracioBonos": 9,
  "mantenimiento": false,
  "Templates": {
    "Reportes": {
      "Consolidados": "/Template/Reports/consolidados/reportConsolidados.cshtml"
    }
  }
}